<div ng-controller="addUserCtrl">
	<h1>Fill the fields</h1>
	 <form class="my-form" novalidate>
		<div>
			<label>Username</label>
			<input class="form-control" ng-model="user.username" placeholder="Enter new username" required/>

			<label>Password</label>
			<input class="form-control" ng-model="user.password" placeholder="Enter new Password" required/>

			<label>Email</label>
			<input class="form-control" type="email" ng-model="user.email" name="email" placeholder="Enter new email" required/>

			<label>Bugs</label>
			<input class="form-control" ng-model="user.bug" placeholder="Enter new bug" required/>
		</div>
		<br />
		<button class="btn btn-sm btn-primary" ng-click="addUser()">Save</button>
	</form>
</div>

<!-- 
<style type="text/css">
  .my-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .my-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
 -->