<div ng-controller="addUserCtrl">
	<h1>Fill the fields</h1>
	<!-- <form>
		<div>
			<label>Username</label>
			<input class="form-control" ng-model="" placeholder="Enter new username"/>

			<label>Password</label>
			<input class="form-control" ng-model="" placeholder="Enter new Password"/>

			<label>Email</label>
			<input class="form-control" ng-model="" placeholder="Enter new email"/>

			<label>Bugs</label>
			<input class="form-control" ng-model="" placeholder="Enter new bug"/>
		</div>
		<br />
		<button class="btn btn-sm btn-primary" ng-click="add(user.id)">Save</button>
	</form> -->
</div>