<div ng-controller="userCtrl">
	<h1>All users</h1>
	<br />
	<div class="col-md-6">
		<table class="table table-bordered">
				<tr>
					<th>#</th>
					<th>Username</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="item in users">
					<td>{{item.id}}</td>
					<td>{{item.username}}</td>
					<td>{{item.email}}</td>
					<td>
						<p>
							<button class="btn btn-sm btn-warning" ng-click="editUserInSinglePage(item.id)">Edit existing user</button>
							<button class="btn btn-sm btn-danger" ng-click="delete(item.id)">Delete</button>
						</p>
					</td>
				</tr>
		</table>
	</div>
</div> 