<div ng-controller="issueCtrl">
	<h1>Reported bugs</h1>
	<br />
	<table class="table table-inverse">
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Email</th>
				<th>Bug(s)</th>
			</tr>
			<tr ng-repeat="item in users">
				<td>{{item.id}}</td>
				<td>{{item.username}}</td>
				<td>{{item.email}}</td>
				<td ng-repeat="bl in item.bugList">
					{{bl.bugName}}
				</td>
			</tr>
	</table>
	<br />
	<div class="col-md-8">
		<button class="btn btn-sm btn-primary" ng-click="addUser">Create new user and bug</button>
	</div>
</div>